<div>
    <button class="btn btn-warning p-3 m-3 shadow font-weight-bold" type="button" routerLink="instructions" routerLinkActive="active">
        how do I use this site?
    </button>
</div>

<div class="justify-content-center row">
    <div class="card shadow bg-white rounded text-center mt-5 my-width">
        <h3 class="mb-3 font-weight-bold card-header bg-dark text-light"> 
            welcome! 
        </h3>
        <div><button class="btn btn-primary p-3 m-3" type="button" routerLink="login" routerLinkActive="active">client menu</button></div>
        <hr/>
        <div><button class="btn btn-success p-3 m-3" type="button" routerLink="payment" routerLinkActive="active">payment</button></div>
        <hr/>
        <div><button class="btn btn-success p-3 m-3" type="button" routerLink="store" routerLinkActive="active">go shopping</button></div>
        <hr/>
        <div><button class="btn btn-danger p-3 m-3" type="button" routerLink="admin_login" routerLinkActive="active">admin menu</button></div>
    </div>
</div>



