<div class="justify-content-center m-5 row">
    <div class="card shadow bg-white rounded text-center mt-5 my-width">
        <h3 class="mb-3 font-weight-bold card-header bg-danger text-light"> ADMIN MENU </h3>
        <div><button class="btn btn-primary p-3 m-3" type="button" routerLink="/admin_client_list" routerLinkActive="active">client list</button></div>
        <hr/>
        <div><button class="btn btn-success p-3 m-3" type="button" routerLink="/admin_vendor_list" routerLinkActive="active">vendor list</button></div>
    </div>
</div>